article {
  width: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-center {
  display: grid;
  justify-content: center;
  align-content: center;
}
.min-width-300 {
  min-width: 300px;
}
